

<div class="new-login-wrapper">
	<div class="new-login-container">
		<input type="text" placeholder="first name" ng-model="fname" required>
		<input type="text" placeholder="last name" ng-model="lname" required>
		<input type="text" placeholder="address" ng-model="address" required>
		<!--<input type="text" placeholder="password" ng-model="password"><br>-->
		<!--<input type="text" placeholder="password" ng-model="password"><br>-->
		<input type="email" placeholder="email" ng-model="email" required>
		<input type="password" placeholder="password" ng-model="password" required>
		<button ng-click="newCust(fname, lname, address, email, password)"><a class="a-tag" ui-sref="loginReturnCustView">Register</a></button>
	</div>
</div>