.header-wrapper {
    background-color: #55c053;
    width: 100%;
    height: 140px;
    color: white;
    padding-left: 30px;
    display: flex;

}

.header-wrapper a {
    color: white;
}

.header-container {
    width: 100%;
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/

}
.header-left-wrapper {


}

.header-right-wrapper {

}

@media (max-width: 350px) {
    .header-wrapper {
        min-width: 300px;
    }
}