
.list-all-wrapper {
    width: 90%;
    min-height: 70px;
    height: auto;
    background-color: cadetblue;
    margin: 5px;
    border: solid black;
    padding: 10px;
}

.list-all-container {
    display: flex;
    justify-content: space-between;
    height: auto;

}

.list-all-edit-info-wrapper {
    display: flex;

}

.list-all-edit-info-container {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    width: 50%;
}