
.list-all-wrapper {
    width: 90%;
    min-width: 220px;
    min-height: 70px;
    height: auto;
    background-color: cadetblue;
    margin: 10px auto;
    border: solid black;
    padding: 10px;
    border-radius: 30px;
}

.list-all-container {
    display: flex;
    justify-content: space-between;
    height: auto;


}

.list-all-edit-info-wrapper {
    display: flex;

}

.list-all-edit-info-container {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    width: 50%;
}

.filter-cust-search-box {
    margin: 10px;
}