.profile-edit-wrapper {
    width: 300px;
    height: 450px;
    background-color: cadetblue;
    margin: auto;
}

.profile-edit-container {
    width: 100%;
    height: 100%;
    /*text-align: center;*/
    position: relative;
    padding: 20px;

}

.edit-input {
    position: relative;
    /*text-align: center;*/
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-button {
    position: absolute;
    bottom: 50px;
}

.login-reminder-wrapper {
    min-width: 350px;
    width: 80%;
    height: auto;
    margin:  30px auto;
    text-align: center;
    background-color: cadetblue;
    border-radius: 20px;
    border: 3px solid black;
    padding: 20px;

}

.login-container {
    width: 100%;
    padding: 20px;
    text-align: center;
}