
.service-info-wrapper {
    min-width: 300px;
    width: 80%;
    min-height: 200px;
    height: auto;
    border: solid black;
    margin: 10px auto;
    border-radius: 20px;
    background-color: cadetblue;
    padding: 20px;
}

.service-info-container {
    width: 80%;
}